html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: #278aff;
}
body {
  font-family: sans-serif;
  height: 100%;
}

.container {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  background: url(images/header-background.png);
  padding: 30px 0 130px;
  height: 597px;
  position: relative;
  overflow: hidden;
}

.header-top {
  margin-bottom: 120px;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  text-decoration: none;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 17.07px;
}

.navigation li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.1s linear;
  color: #333333;
  text-decoration: none;
  line-height: 17.07px;
}

.navigation li a:hover {
  color: #00bf78;
}

.navigation li:not(:last-child) {
  margin-right: 28px;
}

.phone-info {
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 14px;
}

.phone-info a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #333333;
  text-align: center;
  align-items: baseline;
}

.phone-info div {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
}

.header-title h1 {
  width: 540px;
  height: 118px;
  top: 0;
  margin: 0;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 17px;
}

.header-title p {
  width: 315px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #333333;
  margin-bottom: 59px;
}

.header-title button {
  background: #fb9475;
  width: 203px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 30px;
  border: 0;
  border-radius: 24px;
  color: #fff;
}

.girl {
  position: absolute;
  bottom: 0;
  left: 658px;
  max-width: 524px;
  height: auto;
  display: flex;
}

.girl img {
  display: block;
  position: relative;
}

.girl:hover:before {
  transform: scale(1.05);
}

.girl::before {
  position: absolute;
  content: "";
  width: 472px;
  height: 472px;
  border-radius: 50%;
  background-color: #fb9475;
  bottom: -110px;
  right: 3px;
  transition: 0.3s transform;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media img {
  margin: 10px 65px;
}

.media img:hover {
  transform: scale(0.95);
  transition: 0.3s transform;
}

.inner__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text {
  letter-spacing: 0em;
  text-align: left;
  max-width: 570px;
}

.text__top {
  font-size: 20px;
  line-height: 32px;
}

.text__bottom {
  margin-top: 16px;
  font-size: 16px;
  line-height: 26px;
}

.video-card {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-items: center;
}
.video-card__img {
  max-width: 445px;
  max-height: auto;
  border-radius: 8px;
  filter: brightness(80%);
}

.btn {
  position: absolute;
  left: 50%;
  margin-left: -30px;
}

.btn--invisible {
  background: none;
  color: #f8f6f7;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.advantages {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  align-items: end;
  column-gap: 120px;
  justify-content: space-between;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  align-items: center;
  margin-bottom: 30px;
}

.advantages-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.advantages-card__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

footer {
  background-color: #f8f6f7;
  padding: 20px 0;
}
.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  align-items: center;
}

.footer .navigation a {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
