html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: #278aff;
  }
  
  body {
    font-family: sans-serif;
    height: 100%;
    min-width: 320px;
  }
  
  .container {
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 29px;
  }
  
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 17px;
  }
  
  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  
  h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }