@import "libs";
@import "common";
@import "colors";

#masters {
  background: $masters-background;
  padding-bottom: 60px;
}

.button-subscribe {
  background: $button-subscribe;
  padding: 17px 30px;
  border: 0;
  border-radius: 24px;
  color: $button-subscribe__text;

  &_s {
    padding: 10px 20px;
    border-radius: 17px;
  }

  &:hover {
    background: darken($button-subscribe, 10%);
  }
}

.header {
  background: url(../images/header-background.png);
  height: auto;
  position: relative;
  overflow: hidden;

  &__top {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding: 30px 0 0;
  }

  &__navigation {
    display: flex;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: $header-text;
    text-decoration: none;
  }
}

.navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 17.07px;
    padding: 0;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    transition: color 0.1s linear;
    color: $header-text;
    text-decoration: none;
    line-height: 17.07px;

    &:hover {
      color: $navigation;
    }

    &_active:active {
      text-decoration: underline;
    }
  }

  &__item:not(:last-child) {
    margin-right: 28px;
  }
}

.phone-info {
  text-align: right;
  line-height: 14px;
  min-width: 170px;

  &__tel {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: $header-text;
    text-align: center;
    align-items: baseline;
  }

  &__time {
    text-align: right;
    font-weight: 400;
    font-size: 11px;
  }
}

.header-hero {
  display: flex;
  justify-content: space-between;

  &__text {
    max-width: 540px;
    align-self: center;
  }
}

.girl {
  max-width: 524px;
  height: auto;
  position: relative;

  &__img {
    display: block;
    position: relative;
  }

  &:hover:before {
    transform: scale(1.05);
  }

  &:before {
    position: absolute;
    content: "";
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: $girl-circul;
    bottom: -110px;
    right: 3px;
    transition: 0.3s transform;
  }
}

.media {
  display: flex;
  justify-content: center;

  &_column {
    flex-direction: column;
  }

  & img:hover {
    transform: scale(0.95);
    transition: 0.3s transform;
  }
}
.section__inner {
  display: flex;
  flex-direction: column;
}

.inner__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text {
  letter-spacing: 0em;
  text-align: left;
  max-width: 570px;

  &__top {
    font-size: 20px;
    line-height: 32px;
  }

  &__bottom {
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}

.video-card {
  display: flex;
  position: relative;
  flex-grow: 0;
  align-items: center;

  &__img {
    max-width: 100%;
    max-height: auto;
    border-radius: 8px;
    filter: brightness(80%);
  }

  &__btn {
    position: absolute;
    left: 50%;
    margin-left: -30px;

    &_invisible {
      background: none;
      color: $video-card__button;
      border: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
    }
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  column-gap: 120px;
  justify-content: space-between;

  &-card {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    align-items: center;
    margin-bottom: 30px;

    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }
}

.service {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 32px;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
    max-width: 350px;
    max-height: auto;

    &__img {
      max-width: 350px;
      max-height: 180px;
      border-radius: 8px;
      filter: brightness(80%);
    }

    &__title {
      margin: 20px 0 8px;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }
}

.sevices-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 445px;
    max-height: auto;
    margin-bottom: 35px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
    color: $services-table__price;
  }

  &__navigation {
    margin-bottom: 50px;
  }
}

.masters {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: start;

  &__pic {
    position: relative;
  }

  &__img {
    max-width: 255px;
    max-height: auto;
    border-radius: 8px;

    &:hover {
      filter: brightness(0.6);
    }
  }

  &__subscribe {
    display: none;
  }

  &__link:hover + span {
    display: block;
    position: absolute;
    top: 45%;
    left: 30%;
    color: $masters-subscribe__text;

    .masters__img {
      filter: brightness(110%);
    }
  }

  &__name {
    margin: 20px 0 8px;
    text-align: left;;
  }

  &__subtitle{
    font-size: 14px;
    line-height: 17px;
  }
  &__experince {
    margin: 20px 0 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  align-items: center;
}

.footer .navigation a {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@import "mobile";
