$button-subscribe: #fb9475;
$button-subscribe__text: #fff;
$navigation: #00bf78;
$header-text: #333;
$girl-circul: #fb9475;
$video-card__button: #f8f6f7;
$services-table__price: #00bf78;
$masters-background: #f8f6f7;
$masters-subscribe__text: #fff;
